.getInvolvedBtn__container {
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    z-index: 2;
}

.getInvolvedBtn__container a {
    height: 100%;
    width: 200px;
    position: absolute;
    left: 40px;
    border: none;
    background: linear-gradient(180deg, #FFCE50 57.6%, #FFA115 100%);
    border-radius: 22px;
    line-height: 52px;
    box-shadow: 0px 8px 8px 0px rgba(43, 39, 39, 0.25);
}

@media (max-width: 425px) {
    .getInvolvedBtn__container a {
        width: 150px;
        line-height: 40px;
        border-radius: 16px;
        left: 33px;
    }
    .getInvolvedBtn__container img {
        height: 50px;
    }
}