.hero__container {
    background-image: linear-gradient(-90deg, rgba(0, 108, 154, 0.69) 14.86%, rgba(0, 108, 154, 0.38) 30.63%, rgba(158, 231, 222, 0) 50%),url('/images/hero_image.png');
    background-blend-mode: multiply;
    height: 497px;
    background-size: cover;
    background-position: left top;
    overflow: hidden;
    display: flex;
    align-items: center;

}
.text-right {
    text-align: right;
}
.hero__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700 ;
    font-size: 25px;
}
.hero__we-are {
    font-weight: 300;
}

.hero__yellow-text{
    color: #faba16
}

.hero__mask {
    position: absolute;
    height: 100%;
    background-color: rgba(200, 0, 0, 0.6);
}

