#aboutUs__image {
    height: 300px;
}
.about h2{
    text-align: center;
    margin-top: 40px;

}

.descriptionAbout{
    font-size: 22px;
    font-family: Roboto, sans-serif;
}

.descriptionAbout p{
    margin-top: 1rem;
    text-align: left;
}

.about{
    background-image: url("/public/images/home/backgroundAbout.png");
    background-size: cover;
    background-position: center;
    padding: 0px 50px 50px 50px ;
    margin-top: 100px;
}