/* HOME */
.aboutUs__container {
    background-image: url("/public/images/home/backgroundAbout.jpg");
    background-size: cover;
    background-position: top right;
}
.aboutUs__container .row {
    margin-left: 0px;
    margin-right: 0px;
}

.aboutUs__text-container img{
    margin-left: 0px;
}

#aboutUs__image {
    height: 300px;
}

.aboutUs__text {
    text-align: left;
}

.aboutUs__text p{
    margin-top: 1rem;
}
.aboutUs__container a {
    text-decoration: none;
}


@media (max-width: 991px) {
    .aboutUs__container {
        background-image: none;
    }

}