#aboutUs__image {
    height: 300px;
}
h2{
    text-align:center;
    padding: 20px;

}

.descriptionAbout{
    font-size: 22px;
    font-family: Roboto, sans-serif;
}

.descriptionAbout p{
    margin-top: 1rem;
}