
.ourPrograms h3 {
    font-size: 36px;
    font-weight: bold;
}

.program {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.program p {
    padding: 10px;
}

.program a {
    color: #1C3855;
    text-decoration: none;
    font-weight: 500;
}

.imgPrograms,
.imgPrograms2 {
    width: 550px;
    height: 400px;
}

.imgPrograms2 img {
    width: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.imgPrograms img {
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}


@media (max-width: 767px) {
    .program h3 {
        text-align: center;
    }

    .program p {
        text-align: center;
    }

    .program a {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .imgPrograms img,
    .imgPrograms2 img {
        border-radius: 50%;
    }
}