/* SDGS */

.goalsHoop h3,
.goalsHoop h2 {
    text-align: center;

}


.sliderGoals {
    display: flex !important;
    justify-content: space;
    margin-top: 60px;
}

.goalImg {
    width: 15%;
}


.goalDesription {
    width: 40%;
    margin-left: 30px;
}