/* SDGS */

.goalsHoop h3,
.goalsHoop h2 {
    text-align: center;

}


.sliderGoals {
    display: flex !important;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 40px;
}

.goalImg {
    width: 15%;
}


.goalDesription {
    width: 40%;
}

@media screen and (max-width: 1000px) {
    .sliderGoals{
        flex-direction: column;
        align-items: center;
    }

    .goalImg{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .goalDesription {
        width: 100%;
        padding: 20px;
    }

}