/* Our purpose - Our impact */
.purpose,
.impact {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.imgImpact,
.imgPurpose {
    width: 500px;
}

.imgImpact img,
.imgPurpose img {
    width: 100%;
}


.purpose p,
.impact p {
    font-size: 17px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin-top: 15px;
    margin: 10px;
}

.contImpact,
.contPurpose {
    width: 500px;
    margin: 30px;
}
