/* Our purpose - Our impact */
.purpose,
.impact {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.imgImpact,
.imgPurpose {
    width: 600px;
}

.imgImpact img,
.imgPurpose img {
    width: 100%;
}

.contImpact,
.contPurpose {
    width: 500px;
    margin: 30px;
}


#ourPurpose h2, #ourImpact h2{
    margin-bottom: 25px;
}
