.icon-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.icon1 {
    margin-top: 15px;
}



.title {
    display: flex;
    height: 80px;
    align-items: end;
    margin-left: 20px;
}

.misionVision {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.pAbout {
    display: flex;
    justify-content: center;
}

.pAbout p {
    font-size: Roboto, sans-serif;
    font-size: 18px;

}

.our {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.our h3 {
    text-align: center;
    font-style: italic;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.ourWork__card-content {
    display: flex;
}


/* Values */ellipse
.values{
    display: flex;
    justify-content: flex-start;
}
.values h3 {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 30px;
}

.values .col-12 {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.values .col-12 p {
    text-align: left;
}


@media (max-width: 767px) {
    .icon-title {
        justify-content: center;
        margin-top: 50px;
    }
}
