.ourVision__image-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

#ourVision__image {
    height:45vw;
    width:45vw;
    background-image: url("/images/ourvision.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ourVision__container .row {
    margin-left: 0px;
    margin-right: 0px;
    --bs-gutter-x: 0px;
}

.ourVision__item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ourVision__item {
    font-weight: 400;
    font-size: 18px;
    color: rgba(28, 56, 85, 0.8);
    line-height: 21px;
    display: grid;
    grid-template-areas: 
        "icon subheader"
        "icon text";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    min-height:28%;

}
.ourVision__icon img{
    width: 120px;
    height: 120px;
    padding: 24px;
}
.ourVision__icon div{ 
    background-color:rgba(218, 218, 218, 0.3);;
    border-radius: 50%;
}

.ourVision__icon {
    grid-area: icon;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.ourVision__subheader{
    grid-area: subheader;
    display: flex;
    align-items: center;
    margin: 0px;
}
.ourVision__text{
    grid-area: text;
    text-align: left;
}

@media (max-width: 991px) {
    .ourVision__container {
        margin-top: 0px;
    }
    #ourVision__image {
        margin: auto;
        height:50vw;
        width:50vw;
        background-size: cover;
        border-radius: 50%;
    }
}

@media (max-width: 768px) {
    .ourVision__item { 
        grid-template-areas: 
        "icon subheader"
        "text text";
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr 2fr;
        margin-bottom: 10px;
   }
   .ourVision__icon img{
        width: 55px;
        height: 55px;
        padding: 10px;
        
}
    .ourVision__container {
        margin: 20px;
        margin-bottom: -60px;
    }

    .ourVision__subheader{
        font-size: 24px;
    }
}