.navbar__container {
    background-color: white !important;
   position: fixed;
   z-index: 99;
   width: 100%;
   top: 0;
}


.navbar-collapse {
    flex-grow: 0;
}

.navbar {
    font-family: 'Inter';
    font-size: 18px;
     /* position: fixed; */
}
.navbar .dropdown a {
  text-decoration: none;
  color: inherit
}

.navbar-brand img {
    height: 4vw ;
    max-height: 61px;
    min-height: 36px;
}

.nav-link {
    margin-left: 30px;
}

.navbar__container .navbar-toggler {
  border: none;
}

.navbar__container .btn-primary {
    background: rgba(156, 27, 119, 1);
    border-radius: 15px;
    display: inline;
    position: relative;
    top: 5px;
    padding: 10px 20px;
}

#getInvolvedNavbar:hover {
  background: rgba(43, 180, 170, 1);
}

.navbar__container li {
    text-align: center;
}

.dropdown-menu.show {
    display: flex;
    left: -180%;
    /* background-color: yellow; */
}

.navbar__icon, .navbar__icon-hover  {
    height: 100px;
    width: 100px;
}
.navbar__icon:hover{
    filter: invert(38%) sepia(82%) saturate(434%) hue-rotate(173deg) brightness(93%) contrast(89%);
    /* fill: red; */
}


@media (max-width: 575px) {
    .navbar__container .container {
        padding-left: 25px;
        padding-right: 25px;
    }
  }

/* The Overlay (background) */
.overlay {
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(28, 56, 85, 1); /* Black fallback color */ 
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 20%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */

  }
  
  /* The navigation links inside the overlay */
  .overlay a, .overlay p {
    padding: 4px;
    text-decoration: none;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #E61A6B !important ;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

.overlay__social-media {
    display: flex;
    justify-content: center;
    }
    
.overlay__social-media .icon__background {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 50px;
}

.overlay__social-media .fab {
    color: rgba(28, 56, 85, 1);
}
