
.ourImpact{
    margin-top: 60px;
}
.hoopReports{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.hoopReportsImg{
    width: 700px;
}

.hoopReportsImg img{
    width: 100%;
}

@media (max-width: 710px) {

    .hoopReportsImg{
        width: 500px;
    }

}

@media (max-width: 500px) {
.hoopReportsImg{
    width: 320px;
}
}