.footer__container {
    z-index: 4;
}
.footer__column-container {
    padding: 50px;

}
#footer__image {
    height: 65px;
    margin-bottom: 15px;
}


.footer__header {
    font-weight: 700;
    margin-bottom: 25px;
}

.footer__container .fab {
    color: rgba(28, 56, 85, 1);
}

.footer__container .icon__background {
    display: inline-block;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 25px;
}


@media (max-width: 991px) {
    .footer__logo {
        text-align: right;
    }
    #footer__image {
        height: 55px;
    }

}
@media (max-width: 425px) {
    #footer__image {
        height: 40px;
    }

}