/* Our team */

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


.member {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member img {
    border-radius: 120px;
}

.member h4 {
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.member h5 {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

/* INTERNATIONAL TEAM */
#international{
    margin-top: 60px;
}

.teamInter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}


.international {
    margin: 50px 28px 12px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 50px; */
}


.international h5{
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #1C3855;
}

#international p{
    margin-bottom: 40px;
}
