* {
    margin:0;
    padding:0;  
}
body {
    color: #1C3855;
}

.text-pink {
    color: #E61A6B;
}
.text-grey{
    color: rgba(28, 56, 85, 0.8);
}
.text-white {
    color: rgba(255, 255, 255, 1);
}

.text-main {
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;    
}
.text-main-container {
    padding: 25px 130px;
    margin: 40px 0px;
}


.section__top-margin {
    margin-top: 40px;
}
.section__header {
    text-align: center;
    font-weight: 700 ;
    font-size: 45px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.section__underline {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.background-blue {
    background: rgba(60, 115, 185, 1);
}
.background-red {
    background: rgba(192, 25, 100, 1);
}
.background-yellow {
    background: rgba(193, 140, 12, 1);
}
.background-green {
    background: rgba(22, 101, 97, 1);
}
.background-purple {
    background: rgba(158, 26, 119, 1);
}
.background-pink {
    background: rgba(230, 26, 107, 1);
}
.background-lightblue {
    background: rgba(43, 180, 170, 1);
}
.background-lightyellow {
    background: rgba(250, 186, 22, 1);
}
.background-gray {
    background: rgba(242, 240, 240, 1);
}
.background-darkblue {
    background: rgba(28, 56, 85, 1);
}




.text-right {
    text-align: right;
}
