* {
    margin:0;
    padding:0;  
}
body {
    color: #1C3855;

}


.text-pink {
    color: #E61A6B;
}
.text-grey{
    color: rgba(28, 56, 85, 0.8) !important;
}
.text-white {
    color: rgba(255, 255, 255, 1) !important;
}
.text-yellow {
    color: rgba(250, 186, 22, 1) !important;
}

.text-main {
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;    
}

.text-main-container {
    padding: 25px 130px;
    margin: 40px 0px;
}

.bold{
    font-weight: 700;
}


.section__top-margin {
    margin-top: 40px;
}
.section__top-margin2 {
    margin-top: 60px;
}
.section__top-margin3 {
    margin-top: 80px;
}
.section__top-margin4 {
    margin-top: 120px;
}

.section__header {
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    font-weight: 700 ;
    font-size: 45px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.section__subheader {
    font-family: 'Roboto', 'sans-serif';
    text-align: left;
    font-weight: 700 ;
    font-size: 32px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.section__underline {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.background-blue {
    background: rgba(60, 115, 185, 1);
}
.background-red {
    background: rgba(192, 25, 100, 1);
}
.background-yellow {
    background: rgba(193, 140, 12, 1);
}
.background-green {
    background: rgba(22, 101, 97, 1);
}
.background-purple {
    background: rgba(158, 26, 119, 1);
}
.background-pink {
    background: rgba(230, 26, 107, 1);
}
.background-lightblue {
    background: rgba(43, 180, 170, 1);
}
.background-lightyellow {
    background: rgba(250, 186, 22, 1);
}
.background-gray {
    background: rgba(242, 240, 240, 1);
}
.background-darkblue {
    background: rgba(28, 56, 85, 1);
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text.main{
 font-family: Roboto, sans-serif;
 font-size: 18px;   
}

@media (max-width: 768px) {
    .text-main {
        font-size: 20px;
        line-height: 24px; 
    }
    .text-main-container {
        padding: 10px 30px;
        margin: 20px 0px;
    }
    .section__header {
        font-size: 32px;
    }
    .section__subheader {
        font-size: 28px;
    }
    .section__top-margin {
        margin-top: 30px;
    }
}

@media (max-width: 425px) {
    .text-main-container {
        margin: 0
    }
    .text-main {
        font-size: 16px;
        line-height: 18.75px; 
    }
    .section__header {
        font-size: 22px;
    }
    .section__subheader {
        font-size: 20px;
    }
    .section__top-margin {
        margin-top: 10px;
    }
}