.ourWork__container{
    font-family: 'Roboto', sans-serif;
}

.ourWork__cards {
    display: flex;
    gap: 50px;
    align-items: stretch;
    flex-wrap: wrap;
}
.ourWork__icons{
    position: absolute;
    z-index: 50;
    left: 100px;
    top: -90px
}
.ourWork__card-container {
    position: relative;
    margin-top: 100px;
}
.ourWork__card-content {
    width: 330px;
    color: #FFFFFF;
    border-radius: 22px;
}
.card-img-top {  /* OJO */
    height: 230px;
}
.card-body {  /* OJO */
    padding: 30px;
    height: 300px;
}
.ourWork__readMore {
    font-weight: 700 ;
    text-align: right;
}

.card-title{ /* OJO */
    font-weight: 700 ;
    font-size: 32px;
}
.card-text{  /* OJO */
    font-weight: 400 ;
    font-size: 16px;
}

.card_blue {
    background-color: #1C3855;
}
.card_red {
    background-color: #751C59;
}
.card_green {
    background-color: #166561;
}