.card {
    width: 18rem;
}
.card-img-top {
    height: 200px;
}
.ourWork__cards {
    display: flex;
    gap: 50px
}
.ourWork__readMore {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-decoration: none;

}