.ourWork__container{
    font-family: 'Roboto', sans-serif;
}

.ourWork__cards {
    display: flex;
    gap: 50px;
    align-items: stretch;
    flex-wrap: wrap;
}
.ourWork__icons{
    position: absolute;
    z-index: 1;
    left: 100px;
    top: -90px
}
.ourWork__card-container {
    position: relative;
    margin-top: 100px;
}
.ourWork__card-content {
    width: 330px;
    color: #FFFFFF;
    border-radius: 22px;
}
.ourWork__card-container .card-img-top {  
    height: 230px;
}
.ourWork__card-container .card-body {  
    padding: 30px;
    height: 300px;
    position: relative;
}
.ourWork__readMore {
    font-weight: 700 ;
    position: absolute;
    right: 30px;
    bottom: 30px;

}

.ourWork__card-container .card-title{
    font-weight: 700 ;
    font-size: 32px;
}
.ourWork__card-container .card-text{  
    font-weight: 400 ;
    font-size: 16px;
}


