.ourResults__container {
    margin-bottom: 60px;
}
.ourResults__item-container {
    display: flex;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    margin-left: 20px;
}

#ourResults__image {
    width: 100%;
}

.ourResults__icon {
    border-radius: 10%;
    padding: 10px;
}

.ourResults__icon > img {
    padding-right: 30px;
    border-right: 3px solid #E61A6B;
    width: 120px;
}

.ourResults__text {
    font-weight: 400;
    font-size: 24px;
    margin-left: 50px;;

}
.ourResults__text p {
    margin-bottom: 0px;
}

.ourResults__container #carouselExampleIndicators {
    height: 100%;
    width: 100%;

}
.ourResults__container .carousel-indicators {
    position: relative;
    top: 20px;
    left: 55%; 
    margin: auto;
}

.ourResults__container .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
    margin-left: 25px;
    margin-right: 25px;

  }

.ourResults__container .carousel-indicators .active{
    background-color: rgba(192, 25, 100, 1);
  }

.ourResults__container .carousel-inner {
    height: 395px;
    border-radius: 30px;
}

.ourResults__container .carousel-item {
    height: 100%;
    background-repeat: no-repeat;
}

.carousel-item-text {
    width: 45%;
    height: 100%;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.carousel-item-text img {
    width: 100%;
}

.carousel-item-header{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.carousel-item-subheader{
    font-size: 24px;
    font-weight: 700;
}
.carousel-item-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.carousel-item-stars {
    text-align: center;
}

#carousel-item-1 {
    /* background-image: url('/images/results_img1.png'); */
    background: linear-gradient(0deg, rgba(60, 115, 185, 0.25), rgba(60, 115, 185, 0.25)), url('/images/results_img1.png');
    background-position: right;
    
}
#carousel-item-2 {
    background: linear-gradient(0deg, rgba(230, 26, 107, 0.25), rgba(230, 26, 107, 0.25)), url('/images/results_img2.png');
    background-position: right;
}
#carousel-item-3 {
    background: linear-gradient(0deg, rgba(250, 186, 22, 0.25), rgba(250, 186, 22, 0.25)), url('/images/results_img3.png');
    background-position: right;
}

#carousel-item-4 {
    background: linear-gradient(0deg, rgba(22, 101, 97, 0.2), rgba(22, 101, 97, 0.2)), url('/images/results_img4.png');
    background-position: right;
}
#carousel-item-5 {
    background-image: url('/images/results_img5.png');
    background-position: right;
}

@media (max-width: 1440px) {
    .carousel-item-text {
        padding: 20px;
    }
    .carousel-item-header{
        font-size: 35px;
    }

}
@media (max-width: 991px) {
    .carousel-item-text {
        padding: 10px;
    }
    .carousel-item-header{
        font-size: 35px;
    }
    .ourResults__container .carousel-indicators {
        left: 0vw;
    }

}